body{
    color: white;
    background-size: cover;
    font-family: 'Courgette', cursive;
}
.span_note{
    font-size: 15px;
}
.heading{
    width: 100%;
    margin: 0px;
}
#disk_for_speed{
    margin-left: 10px;
    width: 150px;
}
#play_button{
    font-size: 17px;
}
#stop_button{
    font-size: 17px;
}
canvas{
    border: 8px double white;
}